.filter_button {
    width: 100%;
    margin-top: 10px;
}
.search_button {
    width: 30%;
    float: right;
    margin: 10px;
}
.get_all_button {
    width: 30%;
    float: right;
    margin: 10px;
}

.table {
    height: 700px;
}
.data-pagination {
    float: right;
}
.jumbotron {
    margin-top: 100px;
}



.bar rect {
    fill: steelblue;
  }
  
.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

.legend {
    margin: 20px;
    padding: 10px;
}
.map-row {
    height: 800px;
}
.map-transition {
    height: 600px;
    margin: auto;
    
}
.map-title {
    padding: 10px;
}
.grouped-stacked-map-subtitle {
    margin-left: 63px;
}
.platelet-map-subtitle {
    margin-left: 45px;
}

.movement-map-subtitle1 {
    margin-left: 105px;
}
.movement-map-subtitle2 {
    margin-left: 263px;
}
.movement-map-subtitle3 {
    margin-left: 275px;
}