.filter_button {
    width: 100%;
    margin-top: 10px;
}
.search_button {
    width: 30%;
    float: right;
    margin: 10px;
}
.get_all_button {
    width: 30%;
    float: right;
    margin: 10px;
}

.table {
    height: 700px;
}
.data-pagination {
    float: right;
}
.jumbotron {
    margin-top: 20px;
    width: 100%;
    text-align: center;
}



.bar rect {
    fill: steelblue;
  }
  
.bar text {
    fill: #fff;
    font: 10px sans-serif;
}

.legend {
    margin: 20px;
    padding: 10px;
}
.map-row {
    height: 800px;
}
.map-transition {
    height: 600px;
    margin: auto;
    
}
.map-title {
    padding: 10px;
}
.grouped-stacked-map-subtitle {
    margin-left: 63px;
}
.platelet-map-subtitle {
    margin-left: 45px;
}

.movement-map-subtitle1 {
    margin-left: 105px;
}
.movement-map-subtitle2 {
    margin-left: 263px;
}
.movement-map-subtitle3 {
    margin-left: 275px;
}

.about-row {
    margin-bottom: 500px;
    border-radius: 20px;
}

.about-title {
    padding: 10px;
    text-align: right;
}

.about-section-p {
    padding: 20px;
}

#about-section1 {
    background-color: #f8f9fa;
}
#about-section2 {
    background-color: #f8f9fa;
}
#about-section3 {
    background-color: #f8f9fa;
}
.about-img {
    border-radius: 20px;
    margin-bottom: 10px;
}